<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" id="home"> 
      <% if current_page?('/homes') %>
        <%= form_tag('/apparts/index', :method => :get) do -%> <!--method get car de base form_tag a une method post -->
          <div><%= text_field_tag 'query', nil, placeholder: "Où allez vous ?" %><%= submit_tag 'Go' %></div>
        <% end -%>
      <% end -%>
    </div>
  </div>
  <div class="row">
    <div class=".col-md-6 .col-md-offset-3">Footer credits</div>
  </div>
</div>

<%= link_to 'New Home', new_home_path %>
