<h1><%=@appart.title%></h1>
  <div class="row">
    <div class="col-lg-6"style="text-align:left; line-height:25px; height: 700px">
      <div class="row">
        <div class="col-md-12" style="height:30px"></div>
      </div>
            <%=link_to image_tag(@appart.user.photos, :border => 0), {:action => 'show', :controller => 'users'}, {:class => 'dock-item'}%>
            <h3>Bonjour je m'appelle <%=@appart.user.surname%> </h3><br>

          <h3>Description du bien</h3>
      <div class="row">
        <div class="col-lg-4" style="text-align:left">
          <ul>
            <li><b>Type de logement:</b> <%=@appart.property_type %></li>
            <li><b>Capacité d'accueil:</b> <%=@appart.accommodates%></li>
            <li><b>Nombre de chambres:</b> <%=@appart.bedroom_nb%></li>
            <li><b>Nombre de lits:</b> <%=@appart.beds_nb%></li>
          </ul>
        </div>
        <div class="col-lg-2">
        </div>
        <div class="col-lg-4" style="text-align:left">
          <ul>
            <li><b>Fournitures:</b> <%=@appart.amenities%></li>
            <li><b>Adresse:</b> <%=@appart.adress%></li>
          </ul>
          <div class="col-lg-2"></div>
        </div>
      </div>
      <h2>Le prix</h2>
      <div class="row">
        <div class="col-md-12" style="text-align:left">
          <p> <%=@appart.price%> € la nuit </p>
        </div>
        <div class="row">
          <div class="col-off-set-md-4" >
            <button type="button" class="btn btn-success">Reserver !</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6" style="line-height:25px; height: 700; overflow:scroll;">
      <img src="<%= @appart.images%>" alt="" style= "width:90%"/>
      <img src="<%= @appart.images1%>" alt="" style= "width:90%"/>
      <img src="<%= @appart.images2%>" alt="" style= "width:90%"/>
      <img src="<%= @appart.images3%>" alt="" style= "width:90%"/>
      <img src="<%= @appart.images4%>" alt="" style= "width:90%"/>
    </div>

  </div>
